<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
	http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>mindset</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>libs-release</name>
					<url>http://192.168.1.7:8081/artifactory/libs-release</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>libs-snapshot</name>
					<url>http://192.168.1.7:8081/artifactory/libs-snapshot</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>plugins-release</name>
					<url>http://192.168.1.7:8081/artifactory/plugins-release</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>plugins-snapshot</name>
					<url>http://192.168.1.7:8081/artifactory/plugins-snapshot</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>svn</id>
			<properties>
				<svn.username>ronny</svn.username>
				<svn.password>ronny</svn.password>
			</properties>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>mindset</activeProfile>
		<activeProfile>svn</activeProfile>
	</activeProfiles>
</settings>